section {
    margin-top:20px;
    }
.wrapper {
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
    padding-top:10px;
    width:780px;
}

footer {
    clear:both;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, Optima;
    color:#000000;
    width:100%;
}

footer a {
    color:#000000;
    }

.boxwrap {
    width: 780px;
    padding-left:38px;
    padding-right:0;
    overflow:hidden;

}
.home-box {
    width:220px;
    height:220px;
    margin-right:20px;
    float:left;
    margin-bottom: 5px;
    position:relative;
}

.fontchange {
    font-family:Arial, Helvetica, sans-serif, Optima;
    font-size: 11pt;
    font-weight: bolder;
    color:#000000;
}

.navbarstyle {
    padding-top:30px;
    padding-bottom:20px;
    float:right;
}

.address {
    width:100%;
    float:right;
    clear:both;
}

.content {
    clear:both;
    width:100%;
    text-align:justify;
}
.boxes {
    border: 1px solid #ccc;
    width: 220px;
    height:220px;
    float:left;
    margin: 5px;
}

.categories {
    width: 700px;
    margin:0 auto;
}

.navigation-list {

}

.message-success {
    text-align: center;
    font-size: 14pt;
    color: #ffffff;
    width: 100%;
    background: #e4b9c0;
    clear:both;
    margin:10px;
}

.pages {
    text-align: center;
    clear: both;
}

.errors {
    color:#c7254e;
}

.contact li {
    clear: both;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif, Optima;
    color: #000000;
    width: 100%;
    height: 18pt;
    list-style-type: none;
}

.form-container {
    width: 600px;
    margin:0, auto;
    padding:10px;
}



